@model QuanLyKho.Models.ChiTietNhapXuat

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ChiTietNhapXuat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="so_phieu" class="control-label"></label>
                <input asp-for="so_phieu" class="form-control" />
                <span asp-validation-for="so_phieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngay_lap_phieu" class="control-label"></label>
                <input asp-for="ngay_lap_phieu" class="form-control" />
                <span asp-validation-for="ngay_lap_phieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ma_vt" class="control-label"></label>
                <input asp-for="ma_vt" class="form-control" />
                <span asp-validation-for="ma_vt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ten_vt" class="control-label"></label>
                <input asp-for="ten_vt" class="form-control" />
                <span asp-validation-for="ten_vt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dvt" class="control-label"></label>
                <input asp-for="dvt" class="form-control" />
                <span asp-validation-for="dvt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sl_nhap" class="control-label"></label>
                <input asp-for="sl_nhap" class="form-control" />
                <span asp-validation-for="sl_nhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sl_xuat" class="control-label"></label>
                <input asp-for="sl_xuat" class="form-control" />
                <span asp-validation-for="sl_xuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
